.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(183, 65, 14);
}

.wall {
  background: white;
}

.wall.invisible {
  background: none;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
}

.water {
  background: aqua;
}

.player {
  background: rgb(64, 64, 64);
}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  position: relative;
  width: 1280px;
}

.coin-counter {
  position: absolute;
  top: 20px;
  right: 40px;
  color: rgb(241, 229, 89);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coin-symbol {
  width: 12px;
  height: 12px;
  background-color: rgb(241, 229, 89);
  margin-right: 15px;
}

.coin-count {
  font-size: 1.5rem;
}
